body{
    background-color: black;
}
section{
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}
button{
    margin: 4px;

}
